* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box; /*border inside the content box */
}

.panel {
    height: 40px;
    display: flex;
    background-color: #222f3d;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-option p {
    display: inline;
    margin-left: 10px;
}
.panel-option {
    width: 85%;
    font-size: 0.85rem;
}
.panel-deals {
    font-size: 1rem;
    font-weight: 750;
}